<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="78bf6ea6-2961-44c1-836a-2cae7c49abb3"
    Publisher="CN=BretStateham"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="78bf6ea6-2961-44c1-836a-2cae7c49abb3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HAXCSolar</DisplayName>
    <PublisherDisplayName>BretStateham</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="HAXCSolar.App">
      <uap:VisualElements
        DisplayName="HAXCSolar"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="HAXCSolar"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Additional capabilities added per: http://ms-iot.github.io/content/en-US/win10/SetupPCWRA.htm#option-1-download-the-windows-remote-arduino-experience-app-from-the-microsoft-store -->

    <!-- Enabling Network Capabilities -->
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClient" />

    <!-- Enabling USB Capabilities -->
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort"/>
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>